html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body {
    align-items: center;
    background: rgb(218,153,255);
    background: linear-gradient(90deg, rgba(218,153,255,1) 1%, rgba(241,186,170,1) 20%, rgba(255,206,118,1) 39%, rgba(218,206,139,1) 65%, rgba(209,206,145,1) 70%, rgba(199,206,150,1) 74%);
    font-family: 'Dosis', sans-serif;
    font-display: swap; 
    height: inherit;
    justify-content: center;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    border-radius: 16px;
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    border-radius: 16px;
}